fastapi==0.136.1
uvicorn[standard]==0.46.0
python-socketio[asyncio_client]==5.16.3
aiofiles==24.1.0
openai==2.32.0
python-dotenv==1.2.2
langchain==1.2.15
langchain-core==1.3.2
langchain-openai==1.2.1
langgraph==1.1.9
langgraph-checkpoint==4.0.2
langgraph-prebuilt==1.0.11
elasticsearch==8.19.3
pypdf==6.14.2
json-repair==0.59.10
pydantic==2.13.3
pydantic-settings==2.14.0
Faker==40.36.0
PyMySQL==1.2.0
SQLAlchemy==2.0.51
polyfactory==3.3.0
unstructured[pdf]==0.24.1
unstructured-inference==1.6.13
unstructured-pytesseract==0.3.15
pytesseract==0.3.13
jieba==0.42.1
ragas==0.4.3
